:root {
  --color-calendar-graph-day-bg: #ebedf0;
  --color-calendar-graph-day-L1-bg: #9be9a8;
  --color-calendar-graph-day-L2-bg: #40c463;
  --color-calendar-graph-day-L3-bg: #30a14e;
  --color-calendar-graph-day-L4-bg: #216e39;
  --color-calendar-graph-day-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L1-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L2-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L3-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L4-border: rgba(27, 31, 35, 0.06);
}

.graphWrap {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(208, 215, 222);
  border-radius: 6px;
  padding: 8px 0;
  width: 745px;
  .contributionCalendarTable {
    margin: auto;
    width: auto;
    border-collapse: separate;
    border-spacing: 3px;
    overflow: hidden;
    position: relative;
    .srOnly {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      word-wrap: normal;
      border: 0;
    }
    .contributionCalendarLabel {
      padding-right: 8px;
      font-size: 12px;
      font-weight: 400;
      text-align: left;
      fill: rgb(31, 35, 40);
      color: rgb(31, 35, 40);
      position: relative;
      .contributionCalendarDay {
        clip-path: none;
        position: absolute;
        bottom: 3px;
      }
    }
  }

  .footer {
    width: calc(100% - 64px);
    padding: 4px 32px;
    font-size: 12px;
    display: flex;
    color: rgb(101, 109, 118);
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    .level {
      border-radius: 3px;
    }
  }
}

.contributionCalendarDay {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  outline-offset: -1px;
  box-sizing: border-box;
  shape-rendering: geometricPrecision;
}

.contributionCalendarDay[data-level="0"] {
  fill: var(--color-calendar-graph-day-bg);
  background-color: var(--color-calendar-graph-day-bg);
  outline: 1px solid var(--color-calendar-graph-day-border);
}

.contributionCalendarDay[data-level="1"] {
  fill: var(--color-calendar-graph-day-L1-bg);
  background-color: var(--color-calendar-graph-day-L1-bg);
  outline: 1px solid var(--color-calendar-graph-day-L1-border);
}

.contributionCalendarDay[data-level="2"] {
  fill: var(--color-calendar-graph-day-L2-bg);
  background-color: var(--color-calendar-graph-day-L2-bg);
  outline: 1px solid var(--color-calendar-graph-day-L2-border);
}

.contributionCalendarDay[data-level="3"] {
  fill: var(--color-calendar-graph-day-L3-bg);
  background-color: var(--color-calendar-graph-day-L3-bg);
  outline: 1px solid var(--color-calendar-graph-day-L3-border);
}

.contributionCalendarDay[data-level="4"] {
  fill: var(--color-calendar-graph-day-L4-bg);
  background-color: var(--color-calendar-graph-day-L4-bg);
  outline: 1px solid var(--color-calendar-graph-day-L4-border);
}
