.openSource {
  width: 760px;
  margin: 0 auto;
  .title {
    color: #404040;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    border-bottom: 2px solid #404040;
    line-height: 32px;
    margin: 8px 0;
  }
  .repo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0;
    .row1 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      line-height: 32px;
      color: #404040;
      .name {
        font-weight: 700;
      }
      .star {
        font-weight: 400;
      }
    }
    .row2 {
      color: #404040;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
    }
    .item {
      color: #404040;
      font-size: 15px;
      font-weight: 400;
      text-align: left;
      line-height: 28px;
    }
  }
}
